# Ignorar *.py en la carpeta notebooks
notebooks/*.py

# Ignora pendientes de acabar
notebooks/Ejercicio_X*.ipynb

# Ignorar  *.xlsx en data
data/*.xlsx
!data/censo.xlsx
!data/Ejercicio_8_datos.xlsx
!data/EIOPA_RFR_20241231_Term_Structures.xlsx
!data/AccidentesBicicletas_2024.xlsx